services:

  ##########################
  # OpenSearch Node 1 #
  ##########################
  opensearch-node1:
    image: opensearchproject/opensearch:2.13.0
    container_name: opensearch-node1
    environment:
      - cluster.name=observability-cluster
      - node.name=opensearch-node1
      - discovery.seed_hosts=opensearch-node1,opensearch-node2,opensearch-node3
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2,opensearch-node3
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms768m -Xmx768m"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=oUqbVa23eeoPBG4vjZ
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch_data1:/usr/share/opensearch/data
    ports:
      - "9201:9200"
      - "9300:9300"
    networks:
      - observability
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1.5G

  ##########################
  # OpenSearch Node 2 #
  ##########################
  opensearch-node2:
    image: opensearchproject/opensearch:2.13.0
    container_name: opensearch-node2
    environment:
      - cluster.name=observability-cluster
      - node.name=opensearch-node2
      - discovery.seed_hosts=opensearch-node1,opensearch-node2,opensearch-node3
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2,opensearch-node3
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms768m -Xmx768m"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=oUqbVa23eeoPBG4vjZ
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch_data2:/usr/share/opensearch/data
    ports:
      - "9202:9200"
      - "9301:9300"
    networks:
      - observability
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1.5G

  ##########################
  # OpenSearch Node 3 #
  ##########################
  opensearch-node3:
    image: opensearchproject/opensearch:2.13.0
    container_name: opensearch-node3
    environment:
      - cluster.name=observability-cluster
      - node.name=opensearch-node3
      - discovery.seed_hosts=opensearch-node1,opensearch-node2,opensearch-node3
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2,opensearch-node3
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms768m -Xmx768m"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=oUqbVa23eeoPBG4vjZ
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch_data3:/usr/share/opensearch/data
    ports:
      - "9203:9200"
      - "9302:9300"
    networks:
      - observability
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1.5Gdocker 

  ##############################
  # OpenSearch Dashboards (UI) #
  ##############################
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.13.0
    container_name: dashboards
    environment:
      # Balanceo automatico
      OPENSEARCH_HOSTS: '["http://nginx-lb:80"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
    ports:
      - "5601:5601"
    depends_on:
      - opensearch-node1
      - opensearch-node2
      - opensearch-node3
    networks:
      - observability
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 384M

  #####################
  # Load Balancer (HA)#
  #####################
  nginx-lb:
    image: nginx:latest
    container_name: nginx-lb
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9200:80"
    depends_on:
      - opensearch-node1
      - opensearch-node2
      - opensearch-node3
    networks:
      - observability
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 64M
        reservations:
          memory: 32M

  ###########
  # Grafana #
  ###########
  grafana:
    image: grafana/grafana:11.1.0
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./Grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./Grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./custom.ini:/etc/grafana/custom.ini
    environment:
      GF_PATHS_CONFIG: /etc/grafana/custom.ini
    networks:
      - observability
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 192M

  ###############
  # Prometheus  #
  ###############
  prometheus:
    image: prom/prometheus:v2.54.0
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=30d'
      - '--storage.tsdb.retention.size=10GB'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - observability
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 768M

  ####################
  # MSSQL Exporter   #
  ####################
  mssql-exporter:
    image: awaragi/prometheus-mssql-exporter:latest
    container_name: mssql-exporter
    environment:
      - SERVER=change_me
      - USERNAME=mssql_exporter
      - PASSWORD=change_me
      - DATABASE=change_me
    ports:
      - "4000:4000"
    networks:
      - observability
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 96M
    #################
    # Otel Collector#
    #################
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.101.0
    container_name: otel-collector
    command: [ "--config=/etc/otel/config.yaml" ]
    volumes:
      - ./collector.yaml:/etc/otel/config.yaml
    ports:
      - "8888:8888"
      - "8889:8889"
    networks:
      - observability
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 192M

volumes:
  opensearch_data1:
  opensearch_data2:
  opensearch_data3:
  grafana_data:
  prometheus_data:


networks:
  observability:
